
//
// VARIABLES
//

// Colors
$blue: #87CEEB;

// Grays
$black: #fff;
$darkerGray: #eee;
$darkGray: #ccc;
$gray: #999;
$lightGray: #333;
$white: #1E1E1E;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}