---
---


:not(footer) img {
    /* Only restrict width if image is wider than 750px */
    width: auto;
    max-width: 100%;
}

@media (min-width: 751px) {
  :not(footer) img {
    max-width: 750px;
  }
}